<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Random or Fixed Payment</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
<div id="random_fixed">
<div class="info">
    <div class="row text-center">
        <span class="badge badge-pill badge-dark"><h4>Random / Fixed Payment</h4></span>
    </div><br/>
</div>
<div>
    <table style="width:100%" class="table table-bordered">
            <tr>
                <th>Row</th>
                <th>Random Payment</th>
                <th>Fixed Payment</th>
                <th>Your choice</th>
            </tr>


            <tr v-for="(choice, index) in choices2">
                <td>{{index + 1}}</td>
                <td>50% chance to get <b>S$3.00</b>, and 50% chance to get <b>S$0</b></td>
                <td>Earn <b>S${{ (3.00 - (0.30 * index)).toFixed(2) }}</b> for sure</td>
                <td>
                    <select v-model="choices2[index]" @change="onSelectChange(index)">
                        <option v-bind:value="1">Random</option>
                        <option v-bind:value="2">Fixed</option>
                    </select>
                    <span>Selected: {{ choices2[index] }}</span>
                </td>
            </tr>
    </table>

    <div v-if="showButton" class="control-btn">
       <button class="btn btn-primary" v-on:click="onSubmit">Submit</button>
    </div>

    <footer class="app-footer">
        <div>
            <a href="http://www.nus.edu.sg/">NUS Business School</a>
            <span>&copy; 2019 NUS</span>
        </div>
        <div class="ml-auto">
            <span>Powered by</span>
            <a href="http://www.nus.edu.sg/">NUS Business School</a>
        </div>
    </footer>
</div>
  <script src="js/random_fixed4.js"></script>
</body>
</html>
