<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Earning Scheme for transaction Stage 3</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
<div id="scheme_choice">
 <div class="info">
    <div class="row text-center">
        <span class="badge badge-pill badge-dark"><h4>Earning Scheme</h4></span>
    </div><br/>
</div>
    <table style="width:100%" class="table table-bordered">
            <tr>
                <th>Row</th>
                <th>Scheme A: With Deduction</th>
                <th>Scheme B: No Deduction</th>
                <th>Your choice</th>
            </tr>


            <tr v-for="(choice, index) in choices">
                <td>{{index + 1}}</td>
                <td>Earn <b>S$0.10</b> for each correct transaction. Excess change will be deducted from your earnings</td>
                <td>Earn <b>S${{ (0.10 - (0.01 * index)).toFixed(2) }}</b> for each correct transaction. Excess change will <b>NOT</b> be deducted from your earnings</td>
                <td>
                    <select v-model="choices[index]" @change="onSelectChange(index)">
                        <option v-bind:value="1">Scheme A</option>
                        <option v-bind:value="2">Scheme B</option>
                    </select>
                    <!-- <span>Selected: {{ choices[index] }}</span> -->
                </td>
            </tr>

    </table>



 <div  v-if="showButton" class="control-btn">
    <button class="btn btn-primary" v-on:click="onSubmit">Submit</button>
 </div>

 <footer class="app-footer">
    <div>
        <a href="http://www.nus.edu.sg/">NUS Business School</a>
        <span>&copy; 2019 NUS</span>
    </div>
    <div class="ml-auto">
        <span>Powered by</span>
        <a href="http://www.nus.edu.sg/">NUS Business School</a>
    </div>
</footer>

</div>

    <script src="js/scheme_choice3.js"></script>
</body>
</html>
