<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Exercise Summary</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<body>

<div id="self_eva" class="text-center">
    <div><b>You are going to evaluate yourself!</b></div>
    <br/>
    <div><b>Out of the 100 continuous cash and card payment transactions, how many transactions you will perform correctly?</b></div>
    <br/>
    <div class="row text-center">
        <div class="col-sm-4"></div>
        <div class="col-sm-2">
            <input id="self_eva" type="number" class="form-control" v-model="right_ans" autofocus="autofocus" onfocus="this.select()"/>
        </div>
        <div class="col-sm-2">
            <div  v-if="showButton" class="control-btn">
                <button class="btn btn-primary" v-on:click="onSubmit">Submit</button>
            </div>
        </div>
    </div>
</div>



<script src="js/self_eva.js"></script>
</body>

</html>
